# folders
node_modules/
dist/
tools/
test/
docs/

# config files
src/config/dev.js
src/config/prod.js
src/config/newrelic.js

# log files
*.log

# package-lock
package-lock.json

# environment file
.env

.DS_Store